@using SimpleForum.Models
@model SimpleForum.Models.Category

@{
    ViewBag.Title = "Details";
}

<h4>Category</h4>
<hr/>
@foreach (var post in Model.Posts)
{
    <div class="row">
        <div class="post col-md-10">


            <div class="post-header">
                <div>
                    @Html.ActionLink(post.Title, "Details", "Posts", new {id = post.Id}, null)
                </div>
               
                <div>
                    <span>
                       Anonnymous
                     @*TODO: Fix author*@  
                    </span>
                    <span>@Html.DisplayFor(modelItem => post.Date)</span>
                    <span>@Html.ActionLink(Model.Name, "Details", "Category", new { id = Model.Id }, null)</span>
                </div>
            </div>
        </div>
    </div>
}
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>


